$roboto: 'Roboto', sans-serif;
$Open_sans: 'Open Sans', sans-serif;
$color__one: #0fe7f9;
$color__two: #fff;
$color__three: #0e1f2b;
$color__fore: #2554ff;
$padding: 100px 0;
@mixin defult__btn {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    background: $color__three;
    color: $color__two;
    padding: 10px 47px;
    line-height: 30px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 1rem;
    margin-top: 20px;
    position: relative;
    transition: all 0.4s;
    z-index: 1;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color__fore;
        z-index: -1;
        transition: all 0.4s;
    }
    &:hover::before {
        width: 0;
    }
}
@mixin section__title {
    text-align: center;
    span {
        color: $color__fore;
        font-family: $roboto;
        font-size: 1rem;
        margin-bottom: 7px;
        display: inline-block;
        text-transform: capitalize;
    }
    h2 {
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: capitalize;
        color: #222;
        font-family: $Open_sans;
    }
    margin-bottom: 70px;
}
p,
span {
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
a {
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 16px;
}
/*-- header__top start--*/
.header__top {
    background: #05152f;
    color: #f5f6fa;
    padding: 12px 0;
    font-weight: 400;
    a {
        text-decoration: none;
        color: #f5f6fa;
    }
    p {
        margin: 0;
    }
    i {
        color: #12a3ff;
        padding-right: 4px;
    }
}
img {
    max-width: 100%;
}
nav {
    background: $color__two;
    padding: 0 !important;
    z-index: 22;
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: '\f107';
        border-top: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        font-family: 'font awesome 5 free';
        font-weight: 600;
        position: absolute;
        top: 35px;
    }
    .navbar-brand {
        img {
            width: 100px;
        }
    }
    ul {
        > li {
            > a {
                text-transform: capitalize;
                font-weight: 500;
                transition: 0.4s;
                position: relative;
                &:hover {
                    color: #12a3ff !important;
                }
                padding: 40px 22px !important;
                span {
                    font-family: $roboto;
                    text-transform: uppercase;
                }
            }
            #navbarDropdown {
                color: #666;
                padding: 0;
            }
            .active {
                color: #12a3ff !important;
            }
            > ul.dropdown-menu {
                display: block;
                padding: 5px;
                width: 250px;
                border-color: rgba(221, 221, 221, 0.322);
                border-radius: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s;
                transform: translateY(5px);
                li {
                    a {
                        padding: 10px !important;
                        display: block !important;
                        font-weight: 500;
                        color: #666;
                        &:hover {
                            background: transparent;
                            color: #12a3ff;
                            letter-spacing: 0.2px;
                        }
                    }
                    .dropdown-toggle::after {
                        top: 5px;
                        right: 0;
                    }
                    &:hover ul {
                        transform: translateY(-40px);
                        transform: translate(-17px, -40px);
                    }
                    ul {
                        left: -100%;
                        transform: translate(-17px, 5px);
                    }
                }
            }
            &:hover > ul.dropdown-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(-15px);
            }
        }
    }

    .nav__right {
        position: relative;
        .search__box {
            position: absolute;
            width: 300px;
            background: $color__two;
            padding: 25px 40px;
            border: 1px solid rgba(221, 221, 221, 0.514);
            right: -10%;
            transform: translateY(40px);
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            input {
                &:focus {
                    border-right: none;
                    + a {
                        border-color: #86b7fe;
                    }
                }
            }
            a {
                transition: 0.4s;
                &:hover {
                    color: $color__two;
                    background: #12a3ff;
                }
            }
        }
        span {
            display: inline-block;
            padding: 0 5px;
            transition: 0.4s;
            padding: 40px 15px !important;
            cursor: pointer;
            &:hover label {
                color: #12a3ff;
                .search__box {
                    transform: translateY(20px);
                    visibility: visible;
                    opacity: 1;
                }
            }
            label {
                display: block;
                cursor: pointer;
            }
        }
    }
    #search:checked + .nav__right span label {
        color: #12a3ff;
        .search__box {
            transform: translateY(20px);
            visibility: visible;
            opacity: 1;
        }
    }
}
/*-- hero__section start--*/
.hero__section {
    height: 100vh;
    #carouselExampleCaptions {
        height: 100% !important;
        .carousel-inner {
            height: 100%;
            .carousel-item {
                position: relative;
                z-index: 1;
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.658);
                    content: '';
                }
            }
        }
    }
    .slider__caption {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        .slider__caption__inner {
            width: 50%;
            margin: auto;
            line-height: 55px;
        }
        h1 {
            color: $color__two;
            text-transform: capitalize;
            font-size: 4rem;
        }
        p {
            color: rgba(240, 248, 255, 0.836);
            font-weight: 400;
            width: 70%;
            margin: auto;
            line-height: 30px;
        }
        a {
            @include defult__btn();
        }
    }
    .carousel:hover .slider__controler {
        opacity: 1;
    }
    .carousel > button {
        pointer-events: none;
    }
    .carousel:hover > button {
        opacity: 1;
    }
    .slider__controler {
        background: $color__two;
        color: #333;
        font-size: 1.6rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 42px;
        opacity: 0.1;
        transition: all 0.4s;
        pointer-events: visible;
        &:hover {
            background: #4276ff;
            color: $color__two;
        }
    }
}
/*-- shape__design  start--*/
.shape__design {
    position: relative;
    .custom-shape-divider-bottom-1625469687 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        z-index: 1;
    }

    .custom-shape-divider-bottom-1625469687 svg {
        position: relative;
        display: block;
        width: calc(136% + 1.3px);
        height: 163px;
    }

    .custom-shape-divider-bottom-1625469687 .shape-fill {
        fill: #ffffff;
    }
}
/*-- service section start--*/
.service__section {
    position: relative;
    top: -130px;
    .services__item {
        border: 1px solid rgba(221, 221, 221, 0.233);
        background: #f6f2fe;
        padding: 35px 15px;
        transition: 0.4s;
        cursor: pointer;
        z-index: 1;
        position: relative;

        &:hover {
            background: $color__two;
            box-shadow: 0 10px 14px 0px #dddddd9e;
            transform: translateY(-7px);
        }
    }
    .s__item:nth-child(odd) .services__item {
        top: -50px;
    }
    .services__icon {
        width: 90px;
        height: 90px;
        border-right: 50%;
        border: 3px dotted #0fe7f9;
        border-radius: 50%;
        line-height: 90px;
        text-align: center;
        font-size: 2.4rem;
        margin: auto;
        margin-bottom: 24px;
        color: #0fe7f9;
        background: $color__two;
        transition: 0.4s;
    }
    h2 {
        text-transform: capitalize;
        font-size: 1.6rem;
        color: #555;
        text-align: center;
        margin-bottom: 7px;
    }
    p {
        text-align: center;
        font-weight: 400;
        color: #777;
        font-size: 1rem;
        line-height: 26px;
    }
}
/*-- about__section start--*/
.about__section {
    background: url(../image/ia_100000019.png), #f9fbfc;
    background-repeat: no-repeat;
    background-size: cever;
    background-position: left center;
    padding: $padding;
    padding-bottom: 170px;
    .about__left__section {
        padding-right: 20px;
        .image__inner {
            position: relative;
            > img {
                z-index: 2;
                position: relative;
                border-top: 9px solid #fff;
                border-right: 9px solid #fff;
                border-bottom: 9px solid #fff;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            &::before {
                content: '';
                width: 102%;
                height: 104%;
                position: absolute;
                top: -2%;
                background: $color__one;
                z-index: 1;
                border-radius: 4px;
            }
        }
        .small__image {
            position: absolute;
            bottom: -16%;
            right: -16%;
            z-index: 3;
            border-radius: 20px;
            overflow: hidden;
        }
    }
    .about__right__section {
        padding-left: 65px;
        > span {
            color: $color__fore;
            display: inline-block;
            text-transform: capitalize;
            font-family: $roboto;
            font-size: 1.1rem;
        }
        h2 {
            text-transform: capitalize;
            color: #222;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
        p {
            color: #444;
            text-align: justify;
            font-size: 1rem;
            line-height: 1.7rem;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-top: 22px;
            li {
                margin-bottom: 10px;
            }
            h6 {
                user-select: none;
                &:hover {
                    color: #0833ce;
                }
                span {
                    display: inline-block;
                    transition: 0.4s;
                    margin-right: 3px;
                    i {
                        position: relative;
                        top: 2px;
                    }
                }
                color: #0a3b6e;
                text-transform: capitalize;
                transition: 0.4s;
                padding: 0;
                margin: 0;
            }
        }
        a {
            @include defult__btn();
        }
    }
}
/*-- main__service__section  start--*/
.section__bg {
    background: url(../image/ia_100000021.png) #efe9fb;
    background-repeat: no-repeat;
    background-position: right center;
}
.main__service__section {
    padding: $padding;
    background: url(../image/ia_100000020.png);
    background-repeat: no-repeat;
    background-position: left center;
    .section__title {
        @include section__title();
    }
    .main__secvice__item {
        background: #fafafa;
        padding: 30px 20px;
        display: flex;
        border: 1px solid transparent;
        transition: all 0.4s;
        position: relative;
        z-index: 1;
        cursor: pointer;
        margin: 12px 0;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: $color__fore;
            z-index: -1;
            transition: all 0.4s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            border: 1px solid #2554ff;
            .main__service__icon span {
                transform: rotateZ(360deg);
                background: #fff;
            }
            .main__service__containt {
                h2 {
                    color: #fff;
                }
                p {
                    color: #ddd;
                }
                a {
                    color: #ddd;
                }
            }
        }
        .main__service__icon {
            flex-basis: 180px;
            span {
                display: block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #efe9fb;
                text-align: center;
                line-height: 66px;
                font-size: 1.6rem;
                color: $color__fore;
                transition: all 0.4s;
            }
        }
        .main__service__containt {
            flex-grow: 1;
            h2 {
                text-transform: capitalize;
                font-size: 1.4rem;
                margin-bottom: 0;
                transition: 0.4s;
            }
            p {
                font-size: 1rem;
                color: #666;
                transition: 0.4s;
                margin: 8px 0;
            }
            a {
                display: inline-block;
                text-transform: capitalize;
                text-decoration: none;
                color: #777;
                font-weight: 600;
                transition: 0.4s;
                position: relative;
                &::before {
                    content: '\f067';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    top: 3px;
                    right: -18px;
                    font-size: 0.8rem;
                    transition: 0.4s;
                }
                &::after {
                    content: '\f068';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    top: 3px;
                    right: -18px;
                    font-size: 0.8rem;
                    transition: 0.4s;
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                        transform: rotateZ(360deg);
                        visibility: visible;
                    }
                    &::before {
                        opacity: 0;
                        visibility: hidden;
                        transform: rotateZ(160deg);
                    }
                }
            }
        }
    }
}
/*-- recent__project__section start--*/
.recent__project__section {
    padding: $padding;
    .section__title {
        @include section__title();
    }
    article {
        border: 1px solid rgba(221, 221, 221, 0.603);
        margin: 20px 0;
        border-radius: 2px;
        &:hover {
            .article__content::before {
                width: 100%;
            }
            .article__content {
                h2 {
                    color: #fff;
                }
                a.categori {
                    color: #f6f2fea6;
                }
            }
        }
        .article__thumbnail img {
            width: 100%;
        }
        .article__content {
            position: relative;
            padding: 30px 20px;
            background: #f6f6f6;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #2554ff;
                transition: all 0.4s;
                z-index: -1;
            }
            h2 {
                text-transform: capitalize;
                font-size: 1.4rem;
                color: #333;
                transition: 0.4s;
                &:hover {
                    color: #e2d9f5;
                }
            }
            a.categori {
                text-decoration: none;
                text-transform: capitalize;
                font-weight: 500;
                color: #1835a0;
                display: block;
                transition: 0.4s;
                &:hover {
                    color: #e2d9f5;
                }
            }
            a.title {
                text-decoration: none;
                display: block;
                transition: 0.4s;
            }
            a.read_more {
                display: block;
                width: 46px;
                height: 35px;
                text-decoration: none;
                color: #fff;
                background: #0fe7f9;
                text-align: center;
                line-height: 38px;
                font-size: 1.1rem;
                border: 1px solid transparent;
                transition: 0.4s;
                position: absolute;
                top: -18px;
                right: 18px;
                border-radius: 5px;
                &:hover {
                    background: #fff;
                    color: #0fe7f9;
                }
            }
        }
    }
}
/*-- why__choose__us__section  start--*/
.why__choose__us__section {
    padding: $padding;
    background: url(../image/ia_100000075.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .section__title {
        @include section__title();
        text-align: left;
        margin-bottom: 20px;
        > p {
            padding-right: 70px;
            font-family: $roboto;
            font-weight: 500;
            font-size: 1rem;
            color: #555;
        }
    }
    .why__choose__us__left {
        margin-right: 5px;
        user-select: none;
    }
    .why__choose__item {
        display: flex;
        &:hover .why__choose__icon span {
            color: $color__two;
            background: $color__fore;
            border-color: $color__fore;
        }
        .why__choose__icon {
            width: 50px;
            margin-right: 10px;
            span {
                display: block;
                font-size: 1.6rem;
                margin-top: 2px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 29px;
                border: 1px solid #000;
                transition: all 0.4s;
                color: $color__one;
                border-color: $color__one;
            }
        }
    }
    .why__choose__item__content {
        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #333;
            margin-bottom: 0;
            font-family: $Open_sans;
            margin-bottom: 4px;
        }
        p {
            font-family: $roboto;
            font-weight: 400;
            color: #666;
            margin-top: 8px;
        }
    }
    .why__choose__us__right {
        margin-left: 10px;
    }
}
/*-- team__section start--*/
.team__section {
    padding: $padding;
    .section__title {
        @include section__title();
        margin-bottom: 100px;
    }
    .team__item {
        text-align: center;
        &:hover .team__image .team__social__icon li {
            transform: translateY(-40px);
        }
    }
    .team__image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: 5px solid #0fe7f9;
        transition: all 0.4s;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.288);
            transition: all 0.4s;
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            border-color: #12a3ff;
            &::before {
                opacity: 1;
                visibility: visible;
            }
            img {
                transform: scale(1.1);
            }
        }
        img {
            width: 100%;
            height: 100%;
            transition: all 0.4s;
        }
        .team__social__icon {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: all 0.4s ease;
            li {
                list-style: none;
                margin: 0 5px;
                transition: 0.5s;
                transform: translateY(40px);

                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.4s;
                }
                a {
                    display: block;
                    background: #12a3ff;
                    color: #fff;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    border-radius: 50%;
                    transition: all 0.4s;
                    &:hover {
                        background: #2554ff;
                    }
                }
            }
        }
    }
    .team__details {
        margin-top: 16px;
        h2 {
            font-size: 1.5rem;
            margin-bottom: 3px;
            a {
                display: block;
                text-decoration: none;
                color: #111;
                text-transform: capitalize;
                font-weight: 600;
                transition: 0.4s;
                &:hover {
                    color: #1835a0;
                }
            }
        }
        a.cagegory {
            text-decoration: none;
            text-transform: capitalize;
            color: $color__fore;
            transition: 0.4s;
            &:hover {
                color: #222;
            }
        }
    }
}
/*-- contact__us__section start--*/
.contact__us__section {
    padding: $padding;
    background: url(../image/ia_100000076.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.726);
        z-index: -1;
    }
    .contact__us__left {
        margin-right: 30px;
        .section__title {
            @include section__title();
            margin-bottom: 20px;
            text-align: left;
            h2 {
                color: #fff;
            }
            p {
                color: #ddd;
            }
        }
        .progress__item {
            margin: 30px 0;
            span {
                display: inline-block;
                color: #ddd;
                text-transform: capitalize;
                font-family: $roboto;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .progress {
                height: 10px;
            }
        }
    }
    .contact__us__right {
        background: #fff;
        padding: 70px 30px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 3px;
        text-transform: capitalize;
        form {
            h2 {
                font-size: 1.6rem;
                margin-bottom: 30px;
            }
            > div {
                margin: 15px 0;
            }
            select {
                border-right: none;
                background: #f6f6f6;
                padding: 10px;
                box-shadow: none;
                text-transform: capitalize;
                color: #666;
                &:focus {
                    + span.input-group-text {
                        border-color: #86b7fe;
                    }
                }
            }
            input {
                border-right: none;
                padding: 10px;
                background: #f6f6f6;
                &:focus {
                    box-shadow: none;
                    + span.input-group-text {
                        border-color: #86b7fe;
                    }
                }
            }
            span.input-group-text {
                background: #f6f6f6;
                color: #12a3ff;
                border-left: none;
                transition: 0.4s;
            }
        }
        #submit {
            @include defult__btn();
            input[type='submit'] {
                border: none;
                padding: 0;
                outline: none;
                background: transparent;
                text-transform: capitalize;
                color: #ffff;
            }
        }
    }
}
/*-- counter__up__section start--*/
.counter__up__section {
    margin: $padding;
    background: url(../image/ia_100000043.png), #3ee4f2;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
    border-radius: 10px;
    .its__for__bg__image {
        background: url(../image/ia_100000044.png);
        background-repeat: no-repeat;
        background-position: right center;
        padding: 60px 50px;
    }
    .counter__item {
        text-align: center;
        h2 {
            color: #fff;
            font-size: 3rem;
            font-weight: 700;
        }
        span {
            color: #fff;
            text-transform: capitalize;
            font-size: 1.1rem;
            display: block;
            font-weight: 600;
        }
    }
}
/*-- testiomonial__section start--*/
.testiomonial__section {
    padding: $padding;
    background: url(../image/ia_100000077.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.685);
        position: absolute;
        z-index: -1;
    }
    .section__title {
        @include section__title();
        span {
            color: #ddd;
        }
        h2 {
            color: #fff;
        }
    }

    #testimonial__section__slider {
        &:hover button {
            opacity: 1;
            color: #fff;
        }
        button {
            pointer-events: none;
            opacity: 0.1;
            transition: 0.4s;
        }
        .testimonial__slider__controler {
            width: 40px;
            height: 35px;
            background: $color__two;
            color: #111;
            font-size: 1.4rem;
            line-height: 35px;
            border-radius: 2px;
            transition: 0.4s;
            box-sizing: border-box;
            pointer-events: visible;
            &:hover {
                background: rgba(255, 255, 255, 0.123);
                color: #fff;
            }
        }
        .carousel-inner {
            overflow-y: auto !important;
            justify-content: center;
            width: 80%;
            align-items: center;
            margin: auto;
        }
        .testimonial__item {
            background: #fff;
            text-align: center;
            position: relative;
            width: 80%;
            margin: 60px auto;
            padding: 80px 60px;
            border-radius: 10px;
            user-select: none;
            a.name {
                text-decoration: none;
                text-transform: capitalize;
                color: #444;
                display: block;
                margin-top: 20px;
            }
            a.title {
                text-decoration: none;
                text-transform: capitalize;
                transition: 0.4s;
                color: $color__fore;
                &:hover {
                    color: $color__one;
                }
            }
            p {
                color: #777;
                font-size: 1rem;
                line-height: 28px;
                margin-top: 10px;
            }
        }
        .testimonial__image {
            position: absolute;
            top: -50px;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            overflow: hidden;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}
.fore__image__section {
    padding: $padding;
    background: #fafaff;
    .image__inner {
        text-align: center;
    }
}
/*-- our__latest__news__section start--*/
.our__latest__news__section {
    padding: $padding;
    background: #ffffff;
    .section__title {
        @include section__title();
    }
    article {
        border: 1px solid rgba(221, 221, 221, 0.281);
        margin: 20px 10px;
        box-shadow: 0px 14px 15px rgba(221, 221, 221, 0.596);
        &:hover .news__thumbnail .date__time {
            background: #2554ff;
            color: #fff;
        }
        .news__thumbnail {
            height: 310px;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
            position: relative;
            .date__time {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                color: #2554ff;
                text-decoration: none;
                text-transform: capitalize;
                font-size: 1rem;
                padding: 10px 20px;
                font-weight: 500;
                transition: 0.4s;
            }
        }
        .news__content {
            padding: 37px 15px;
            h2 a {
                text-decoration: none;
                text-transform: capitalize;
                color: #333;
                font-size: 1.7rem;
                transition: 0.4s;
                margin-bottom: 10px;
                display: block;
                &:hover {
                    color: $color__fore;
                }
            }
            h2:hover + .read_more {
                color: #777 !important;
            }
            .read_more {
                display: inline-block;
                text-transform: capitalize;
                text-decoration: none;
                color: #2554ff;
                font-weight: 600;
                transition: 0.4s;
                position: relative;
                &:hover {
                    color: #777;
                }
                &::before {
                    content: '\f067';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    top: 3px;
                    right: -18px;
                    font-size: 0.8rem;
                    transition: 0.4s;
                }
                &::after {
                    content: '\f068';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    position: absolute;
                    top: 3px;
                    right: -18px;
                    font-size: 0.8rem;
                    transition: 0.4s;
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                        transform: rotateZ(360deg);
                        visibility: visible;
                    }
                    &::before {
                        opacity: 0;
                        visibility: hidden;
                        transform: rotateZ(160deg);
                    }
                }
            }
        }
    }
}
/*-- foote section start--*/
footer {
    background: url(../image/ia_100000078.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: $padding;
    padding-bottom: 0 !important;
    position: relative;

    .footer__item {
        img {
            width: 100px;
            margin-bottom: 10px;
        }
        p {
            font-size: 1rem;
            color: #333;
            line-height: 1.6rem;
        }
        .social {
            a {
                display: inline-block;
                margin: 0 5px;
                width: 33px;
                height: 33px;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 33px;
                transition: 0.4s;
                margin-left: -5px;
                margin-right: 10px;
                border: 1px solid rgba(0, 0, 0, 0);
                &:hover {
                    background: #fff !important;
                }
                &:nth-child(1) {
                    background: #3a549f;
                    &:hover {
                        color: #3a549f;
                        border-color: #3a549f;
                    }
                }
                &:nth-child(2) {
                    background: #00aff0;
                    &:hover {
                        color: #00aff0;
                        border-color: #00aff0;
                    }
                }
                &:nth-child(3) {
                    background: #cd001f;
                    &:hover {
                        color: #cd001f;
                        border-color: #cd001f;
                    }
                }
                &:nth-child(4) {
                    background: #0488b9;
                    &:hover {
                        color: #0488b9;
                        border-color: #0488b9;
                    }
                }
            }
        }
        h2 {
            color: #222;
            text-transform: capitalize;
            position: relative;
            margin-bottom: 20px;
            &::before {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 60px;
                height: 2px;
                background: #222;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            > li {
                position: relative;
                &::before {
                    content: '\f101';
                    font-family: 'font awesome 5 free';
                    font-weight: 600;
                    font-size: 0.8rem;
                    margin-right: 4px;
                }
                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #444;
                    transition: 0.4s;
                    padding: 3px 0;
                    display: inline-block;
                    position: relative;
                    position: relative;
                    font-family: $roboto;
                    font-weight: 500;
                    span {
                        display: block;
                        text-transform: uppercase;
                        position: relative;
                        font-family: $roboto;
                        font-weight: 500;
                    }
                    &:hover {
                        color: #1835a0;
                        &::before {
                            width: 100%;
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 2px;
                        left: 0;
                        height: 1px;
                        width: 0%;
                        background: #1835a0;
                        transition: 1s;
                    }
                }
            }
        }
        ol {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: flex;
                > span {
                    width: 30px;
                    display: inline-block;
                    font-size: 1.2rem;
                }
                > div {
                    > span {
                        display: block;
                        position: relative;
                        font-family: $roboto;
                        font-weight: 500;
                        &:first-child {
                            font-weight: 700;
                            color: #000;
                            display: block;
                            text-transform: capitalize;
                        }
                        a {
                            text-decoration: none;
                            color: #444;
                        }
                        &:last-child {
                            margin: 2px 0;
                            &:hover {
                                color: #1835a0;
                                &::before {
                                    width: 100%;
                                }
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 2px;
                                left: 0;
                                height: 1px;
                                width: 0%;
                                background: #1835a0;
                                transition: 1s;
                            }
                        }
                    }
                }
            }
        }
    }
    // .f_item {
    // }
    .footer__bottom {
        background: #012b6b;
        padding: 30px 0;
        text-align: center;
        margin-top: 90px;
        p {
            margin: 0;
            color: #fff;
            text-transform: capitalize;
            a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $roboto;
                transition: 0.4s;
                &:hover {
                    color: #00aff0;
                }
            }
        }
    }
}
#mynav {
    background: #fff;
    z-index: 99;
}
#scroll__top__btn{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #05152f;
    color: #ffff;
    text-align: center;
    line-height: 34px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: .4s;
    z-index: 55;
    &:hover{
        color: #05152f;
        background: #fff;
    }
}